.container{
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 100%;
}

form{
    width: 90%;
    margin: 5% auto;
    text-align: center;
}

input{
    margin-top: 10px;
}

#botao_alterar,
#botao_excluir,
#botao_cancelar{
    display: none;
}

.table{
    margin: 5% auto;
    width: 60%;
}