/* Reset */
*{
    font: 14px sans-serif;
    margin: 0px;
}

header{
    background-color: lightgray;
}

h1{
    font-size: 20px;
    padding: 10px;
    float: left;
}

header nav{
    float: right;
}

header{
    overflow: auto;
}

header a{
    padding: 12px;
    display: inline-block;
    color: black;
    margin-right: 15px;
    text-decoration: none;
    border-bottom: 3px solid lightgray;
    transition:  border-bottom-color 0.2s, background-color 0.2s, border-radius 0.3s;
}

header a:hover{
    background-color: rgb(157, 164, 255);
    border-radius: 5px;
    border-bottom-color: rgb(1, 1, 191);
}

main{
    width: 1000px;
    border: 1px solid grey;
    margin: 10px auto;
    border-radius: 10px;
}

.banner{
    background-color: lightslategray;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteudoprincipal{
    background-color: rgb(71, 126, 181);
    padding: 10px;
}

.produtos ul{
    margin: 0px;
    padding-inline-start: 0px;
}

.produtos li{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    margin-top: 10px;
    margin-left: 70px;
}

.contato{
    overflow: auto;
}

.contato div{
    border: 1px solid black;
    border-radius: 5px;
}

.contato div:first-child{
    background-color: yellow;
    width: 480px;
    height: 300px;
    float: left;
}

.contato div:last-child{
    background-color: blue;
    width: 480px;
    height: 300px;
    float: right;
}

.contato{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10x;
}

footer{
    text-align: center;
}