a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

@keyframes animacao {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50%{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.navbar-light{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,1) 33%, rgb(87, 87, 87) 61%, rgb(255, 255, 255) 100%);
}

.nav-link{
    color: black !important;
}

.col-4 img{
    width: 20%;
    margin: 5%;
}
/* 
.navbar-light{
    background-color: black !important;
} */

p{
    font-size: 20px;
    font-weight: bold;
}

.col-4{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-4:hover{
    animation: animacao 0.5s ease-in-out  alternate;
}

.cripto{
    width: 60%;
    height: 50%;
    text-align: center;
}

.imgcripto{
    display: flex;
    justify-content: center;
}
.imgcripto img{
    width: 20%;
    margin: 20px;
}

.imagenCripto{
    width: 15%;
    margin: 10px;
}

.paragrafo3,
.paragrafo2,
.paragrafo1{
    color: white;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

.paragrafo3{
    width: 220px;
}

.paragrafo2{
    width: 150px;
}

.paragrafo1{
    width: 150px;
}