.col-4 img{
    width: 20%;
    margin: 5%;
}

p{
    font-size: 20px;
    font-weight: bold;
}

.col-4{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cripto{
    width: 60%;
    height: 50%;
    background-color: lightgrey;
}
.imgcripto{
    display: flex;
    justify-content: center;
}
.imgcripto img{
    width: 20%;
    margin: 30px;
}

